* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --darkblue: rgb(0, 0, 50);
    --lightblue: rgb(0, 0, 150);
    --yellow: rgb(255, 238, 110);
}

body {
    background: linear-gradient(to right, var(--darkblue), var(--lightblue), var(--darkblue));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    cursor: pointer;
    z-index: 100;
    padding: .25rem;
    background: var(--yellow);
    color: var(--lightblue)
}

#autoplay-cont button {
    padding: .5rem;
    margin: .25rem;
}

#container {
    display: flex;
    height: 300px;
    border: 1px solid var(--yellow);
    box-shadow: 0 0 5px var(--yellow);
}


#slides-cont {
    position: relative;
    display: flex;
    width: 600px;
}

#slides-cont img {
    max-height: 100%;
    width: 600px;
    object-fit: cover;
}

#info-cont {
    color: white;
    position: absolute;
    padding-right: 10px;
    bottom: 5%;
    text-align: right;
    background: rgba(0,0,0,0.5);
}

#thumbnails-cont {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 100%;
    background-color: black;
}

#thumbnails-cont > img {
    height: calc(100% / 5);
    object-fit: cover;
}

#prev-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

#next-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    border: 2px solid white;
    opacity: 1;
}

.inactive {
    opacity: 0.5;
}

.hidden {
    display: none;
}